<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, fuga, enim, harum ipsum libero mollitia dolores corporis eligendi perspiciatis autem asperiores optio deserunt nihil laudantium excepturi consequatur cupiditate rerum modi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, ea, nisi culpa nemo quaerat adipisci possimus magnam neque veritatis deleniti provident saepe consequatur optio! Saepe magnam illo illum omnis nobis.</p>


<p> The Cuurent time is <%= @time %> </p>
<p> The Cuurent time is <%= Time.now %> </p>

<p> The Cuurent time is <%= @checfs.size %> </p>

<%= link_to "NIDA","http://www.nida.ac.th/" %>